@media print {
    * {
      -webkit-print-color-adjust: exact;
    }

    .no-print {
      display: none;
    }

    .no-break {
      page-break-inside: avoid;
    }

    .breaker {
      page-break-after: always;
    }
  }

  .vector_line {
    position: relative;
    left: 0px;
    top: 0px;
    height: 50%;
    Width: 50%;
    border-right: 1px solid blue;
  }

  .everything-bw {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .magnetic_faceup_highlight {
    background-color: red !important;
    border-color: black !important;
    width: 100%;
    height: 100%;
  }

  .magnetic_facedown_highlight {
    background-color: blue;
  }

  .magnetic_ignore {
    background-color: black !important;
    color: black !important;
    border-color: black !important;
    fill: black !important;
  }

.medium-size {
  font-size:48px;
  line-height:1;
}
.rotate-90{
  transform-origin: 0 0;
  transform: rotate(90deg);
}

.flip-vertical{
  transform: rotate(180deg);
}

.preview {
  float:left;
  margin:10px;
  
}

.parchment {
  	box-shadow:inset;
  background-color: #fff;
  background: radial-gradient(circle, rgba(255,254,240,1) 30%, rgba(230, 191, 151,1) 100%);
}

.wax{
color:red;
}

.fiftytwo-card {
  width: 2.5in; height:3.5in; border-width:0px;
}

.fiftytwo-background-1{
background-color: #608dfc;
opacity: 1;
background-image:  linear-gradient(30deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(150deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(30deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(150deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(60deg, #e7b55f77 25%, transparent 25.5%, transparent 75%, #e7b55f77 75%, #e7b55f77), linear-gradient(60deg, #e7b55f77 25%, transparent 25.5%, transparent 75%, #e7b55f77 75%, #e7b55f77);
background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;}

.fiftytwo-background-2{background-color: #fe5237;
opacity:1;
background-image:  linear-gradient(30deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(150deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(30deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(150deg, #e7b55f 12%, transparent 12.5%, transparent 87%, #e7b55f 87.5%, #e7b55f), linear-gradient(60deg, #e7b55f77 25%, transparent 25.5%, transparent 75%, #e7b55f77 75%, #e7b55f77), linear-gradient(60deg, #e7b55f77 25%, transparent 25.5%, transparent 75%, #e7b55f77 75%, #e7b55f77);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.fiftytwo-background-3{
background-color: #25252a;
opacity: 1;
background-image:  linear-gradient(30deg, #d1a85e 12%, transparent 12.5%, transparent 87%, #d1a85e 87.5%, #d1a85e), linear-gradient(150deg, #d1a85e 12%, transparent 12.5%, transparent 87%, #d1a85e 87.5%, #d1a85e), linear-gradient(30deg, #d1a85e 12%, transparent 12.5%, transparent 87%, #d1a85e 87.5%, #d1a85e), linear-gradient(150deg, #d1a85e 12%, transparent 12.5%, transparent 87%, #d1a85e 87.5%, #d1a85e), linear-gradient(60deg, #d1a85e77 25%, transparent 25.5%, transparent 75%, #d1a85e77 75%, #d1a85e77), linear-gradient(60deg, #d1a85e77 25%, transparent 25.5%, transparent 75%, #d1a85e77 75%, #d1a85e77);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.filler{
  width:100%;
  height:100%;
}

@font-face {
  font-family: "Buffalo2Grunge";
       src: url('../fonts/BuffaloInline2Grunge.ttf') format('truetype');
}

@font-face {
  font-family: "Bandito";
       src: url('../fonts/Bandito.ttf') format('truetype');
}

.ornate {
  font-family: "Buffalo2Grunge";
}

.emphatic {
  font-family: "Bandito";
}

.cover-material{
background-color:#25252a; 
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 20px solid #25252a;
    margin: 10px;
}

.instructions{
color:black;
}

.instructions h1, .instructions h2, .instructions h3, .instructions h4, .instructions h5{
  font-family: "Buffalo2Grunge";
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

.twoColumns{
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
}