@media print {
    * {
      -webkit-print-color-adjust: exact;
    }

    .no-print {
      display: none;
    }

    .no-break {
      page-break-inside: avoid;
    }

    .breaker {
      page-break-after: always;
    }
  }

  .vector_line {
    position: relative;
    left: 0px;
    top: 0px;
    height: 50%;
    Width: 50%;
    border-right: 1px solid blue;
  }

  .everything-bw {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .magnetic_faceup_highlight {
    background-color: red !important;
    border-color: black !important;
    width: 100%;
    height: 100%;
  }

  .magnetic_facedown_highlight {
    background-color: blue;
  }

  .magnetic_ignore {
    background-color: black !important;
    color: black !important;
    border-color: black !important;
    fill: black !important;
  }

  .square_piece {
    height: 0.8in;
    width: 0.8in;
  }


  .square_piece_holder {
    height: 1in;
    width: 1in;
  }

  .mission_card_holder {
    width: 5.8in;
    height: 3.5in;

    max-width: 5.8in;
    max-height: 3.5in;
  }


  .clip {
    overflow: hidden;
  }

  .card {
    width: 100%;
    height: 100%;

  }

  .card-body {
  }

  html,
  body {
    font-size: 13px;
  }

  .full-height {
    height: 100%;
  }

  .full-width {
    width: 100%;
  }

  .righty {
    border-left: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
  }

  .primary {
    color: #fff;
    background-color: #2f4d6d;
  }

  .card-body-primary {
    border-color: #2f4d6d;
  }

  .success {
    color: #fff;
    background-color: #00bc8c;
  }

  .card-body-success {
    border-color: #00bc8c;
  }

  .warning {
    color: #fff;
    background-color: #e08e0b;
  }

  .card-body-warning {
    border-color: #e08e0b;
  }

  .danger {
    color: #fff;
    background-color: #e43725;
  }

  .card-body-danger {
    border-color: #e43725;
  }

  .bg-nine {
    background-color: #1d1849;
  }

  .border-nine {
    border-color: #1d1849;
  }

  .bg-dark {
    background-color: black;
  }

  .border-dark {
    border-color: black;
  }

  .border-left {
    border-left-style: solid;
    border-left-width: 15px;
  }

  .border-right {
    border-right-style: solid;
    border-right-width: 15px;
  }



  .left-border-primary {
    border-left-width: 10px;
    border-left-color: #2f4d6d !important;
  }




  .easy {
    color: #fff;
    background-color: #599979;
  }

  .medium {
    color: #fff;
    background-color: #003267;
  }

  .hard {
    color: #fff;
    background-color: #2a0a24;
  }

  .gradient_glass {
    background: rgb(0, 0, 0);
    background: linear-gradient(130deg, rgba(0, 0, 0, 1) 0%, rgba(78, 105, 106, 1) 7%, rgba(0, 0, 0, 1) 10%, rgba(61, 95, 97, 1) 14%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 70%, rgba(49, 92, 94, 1) 82%, rgba(0, 0, 0, 1) 97%);
  }

  .gradient_1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(52, 9, 121, 1) 35%, rgba(0, 212, 255, 0) 100%);
  }

  .gradient_success {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgb(3, 158, 119) 35%, rgba(0, 212, 255, 0) 100%);
  }

  .gradient_danger {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgb(228, 55, 37) 35%, rgba(0, 212, 255, 0) 100%);
  }




  .gradient_4 {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, #3498DB 35%, rgba(0, 212, 255, 0) 100%);
  }

  .gradient_warning {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgb(224, 142, 11) 35%, rgba(2, 0, 36, 1) 100%);
  }

  .gradient_5 {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgb(149, 255, 96) 35%, rgba(0, 212, 255, 0) 100%);
  }



  .alt {
    color: #fff;
    background-color: #444;
  }

  .world-img-bw {
    -webkit-filter: invert(100%);
    /* Safari 6.0 - 9.0 */
    filter: invert(100%);
    display: none;
  }

  .scale-up {
    transform: scale(3);
  }

  .no_corners {
    border-radius: 0px;
  }

  .back-icon {
    text-align: center;
    color: #303030;
  }

  .icon-med {
    font-size: 150px;
  }

  .icon-sm {
    font-size: 100px;
  }

  .q-card-icons {
    text-align: center;
    margin-bottom: 0px;
  }

  .thick-border {
    border-width: thick;
  }

  .fill-card {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .piece-icon {
    text-align: center;
    color: #303030;

  }

  .piece-text {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 50px;
  }

  .centering-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centering-item {

    text-align: center;
  }

  .zeropad {
    padding: 0px;
  }

  .table-spaced {
    border-collapse: separate;
    border-spacing: 30px;
  }