{{#block head}}
<link rel="stylesheet" href="styles/project.css">
<link rel="stylesheet" href="styles/custom.css">
<link rel="stylesheet" href="fontawesome/css/all.css">
{{/block}}   
.
<div class="no-break preview exportable cover-material" style="width:2.5in; height:3.5in;">
  <div class="filler ornate text-center">
    <br/>
    <br/>
    <br/>
    <h1>Decko
    </h1>
    <br/>
    <p>Playing --- Cards
    </p>
    <div class="" style="position:absolute; width:2.5in; height:3.5in; top:10px; left:10px; background-image: url(/images/cover.svg); ">
    </div>
  </div>
</div>
<div class="no-break preview exportable cover-material fiftytwo-background-3" style="width:2.5in; height:1.25in;">
</div>
<div class="no-break preview exportable cover-material" style="width:3.5in; height:1.25in;">
  <table class="" style="width:100%; height:100%;">
    <tbody>
      <tr>
        <td class="text-center">
          <i class="medium-size">♣
          </i>
        </td>
        <td class="text-center">
          <i class="medium-size">♠
          </i>
        </td>
        <td class="text-center">
          <i class="medium-size">♥
          </i>
        </td>
        <td class="text-center">
          <i class="medium-size">♦
          </i>
        </td>
      </tr>
    </tbody>
  </table>
</div>