{{#block head}}
<link rel="stylesheet" href="styles/project.css">
<link rel="stylesheet" href="styles/custom.css">
<link rel="stylesheet" href="lineawesome/css/line-awesome.css">
{{/block}}  
<div card-type="card-back" class="exportable card mb-3 preview fiftytwo-card fiftytwo-background-1">
  <div class="card-body">
  </div>
</div>
{{#each Card}}      
<div card-type="card-front" class="exportable card mb-3 preview ornate parchment fiftytwo-card">
  <div style="position:absolute; top:8px;left:8px; opacity:.75; color:{{Color}};" class="text-center">  
    <h2 style="line-height:1;">{{ Value }}</h2>
    <h3 style="line-height:1;">{{ Unicode }}</h3>
  </div> 

  <div class="card-body" style="color:{{ Color }}; opacity:.75; background-image: url(/images/{{ Value }}_{{ Suite }}.svg); ">
    <table class="" style="width:100%; height:100%;">
      <tbody>
        <tr>
          <td class="text-center">{{#if A1}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="text-center">{{#if A2}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="text-center">{{#if A3}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
        </tr>
        <tr>
          <td class="text-center">{{#if B1}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="text-center">{{#if B2}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="text-center">{{#if B3}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
        </tr>
        <tr>
          <td class="text-center">{{#if C1}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="text-center">{{#if C2}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="flip-vertical text-center">{{#if C3}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
        </tr>
        <tr>
          <td class="flip-vertical text-center">{{#if D1}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="flip-vertical text-center">{{#if D2}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="flip-vertical text-center">{{#if D3}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
        </tr>
        <tr>
          <td class="flip-vertical text-center">{{#if E1}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="flip-vertical text-center">{{#if E2}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
          <td class="flip-vertical text-center">{{#if E3}}
            <i class="medium-size">{{ Unicode }}
            </i>{{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="flip-vertical text-center" style="position:absolute; bottom:8px;right:8px; opacity:.75; color:{{Color}};"> 
    <h2 style="">{{ Value }}</h2>
    <h3 style="line-height:1;">{{ Unicode }}</h3>
  </div> 
</div>
{{/each}}
